#div1 {
    background-color: #2F80ED;
    width: 400px;
}
a {
    color #FFFFFF
}
button {
    background-color: #333333;
    color: white;
    width: 300px;
    height: 60px;
}
#div2 {
    background-color: #E5E5E5;
}
p {
    font-size: 36px;
    width: 561px;
    height: 100px;
    color: #4F4F4F;
}